{% extends "includes/base_template.html" %}
{% block title %}StressBook {% endblock %}

{% block head %}
{% endblock %}

{% block body %}



<main class="container-fluid p-0">
    <!-- Start Of Banner -->
    <div class="bg-image d-flex flex-column justify-content-center align-items-center" style="background-image: url('static/images/home_page_banner.png');height: 500px;">
            <h1 class="text-white pop_semi_bold m-0 home_caption text-center" >Welcome To StressBook</h1>
            <p class="text-white text-center">We Are Trying To Offer The Best Booking Experience , View Our Results By Clicking The Button</p>
            <a href="/dashboard" class="btn text-white get-started-btn mt-1">
            View Dashboard
            </a>
    </div>
    <!-- End Of Banner -->
</main>

<div class="container mt-4">
    <!-- Events Section-->
    <div class="row align-items-md-stretch">
        <div class="col-12 mb-2 mt-4">
            <h3>Events</h3>
        </div>
        {% for event in events %}
        <div class="col-lg-4 col-md-6 mt-2 mb-2" style="height:342px;">
            <a href="{{ url_for('event_detail', event_id=event._id) }}">
                <div class="h-100 p-5 text-white rounded-3" style="background-image: url('{{ event.image_url }}'); background-size: cover; background-position: center;">
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}